<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Amadon</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static 'amadon_app/css/style.css' %}">    
	<script src="{% static 'amadon_app/js/scripts.js' %}"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Amadon Store!</h1>
		</div>

		<div class="table-container w-75 mx-auto">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Item</th>
						<th scope="col">Price</th>
						<th scope="col">Quantity</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for product in all_products %}
					<tr>
						<form action="/checkout/" method="post">
							{% csrf_token %}
							<td>{{product.item_name}}</td>
							<td><input type="hidden" name="price" value="${{product.price}}">${{product.price}}</td>
							<td><select name="quantity" class="form-control form-control-sm w-50">
								<option value="1">1</option>              
								<option value="2">2</option>              
								<option value="3">3</option>              
							</select></td>
							<td><input type="submit" class="btn btn-outline-success" value="Buy!"></td>
						</form>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>